.detailsHeader {
  width: 100%;
}
.inputLine {
  display: flex;
}

.ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  background-color: rgb(246, 245, 245);
  border-width: 5px;

  border-style: ridge;
}
.li {
  display: flex;
  flex-direction: column;
  inline-size: 145px;
  word-break: break-word;

  align-items: center;
  min-width: 145px;
  max-width: 180px;

  background-color: #fffddb;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.correctInput {
  display: flex;
  flex-wrap: wrap;

  inline-size: 145px;
  overflow-wrap: break-word;
  height: auto;
}

.li:nth-child(odd) {
  transform: rotate(5deg);
  box-shadow: 5px 5px 8px #aaa;
}
.li:nth-child(even) {
  transform: rotate(-3deg);
  box-shadow: 5px 5px 8px #aaa;
}
.textDone {
  text-decoration: line-through;
}

.editAndDelete {
  display: flex;
}

@media (min-width: 700px) {
  .ul {
    padding: 20px;
  }
}

.h3 {
  font-size: 2rem;
}
