@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple");

*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  font-family: "Homemade+Apple", cursive;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}
#root {
  /* display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 70px auto;*/
  height: 100%;
}
#header {
  width: 100%;
  position: fixed;
  /* height: auto; */
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");
  /* background-color: #ffe7d3; */
  /* font-size: 25px;
  font-weight: 500; */
  z-index: 1000;
}

.sidebar {
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  left: -250px;
  display: flex;
  flex-direction: column;
  padding: 60px 10px 10px 10px;
  margin-right: 10px;
  /* background-color: #ffe7d3; */
  transition: all 0.4s ease-in-out;
  z-index: 500;

  background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");
  background-color: white;
}
.sidebar-open {
  left: 0;
}
.open-menu-button {
  position: absolute;
  border-radius: 0px;
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
  right: -35px;
  width: 50px;
  height: 60px;
  top: 56px;
  background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");
  background-color: white;
  cursor: pointer;
  border: none;
}
.deletelist {
  display: flex;
}

#listoflist {
  background-color: #ffd3fd;
  /* color: #8c4a4a; */
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;
}
#listoflist li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#listoflist button {
  border: none;
}

#details {
  padding: 130px 20px 20px 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: start; */
}

h1 {
  font-size: 2rem;
  /* background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png"); */
  text-align: center;
}

h2 {
  font-size: 2rem;
  background-image: none;
}
label {
  padding: 10px;
}
/*
* forms styles
*/
.input {
  display: flex;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  background-color: #fffddb;
}
#id-new-list-name {
  background-color: #fffddb;
  border-radius: 5px;
}

button {
  display: flex;
  margin: 5px;
  background-color: #ffd3fd;
  text-align: center;
  border-radius: 50px;
}

.inputList {
  display: flex;
  margin-right: 10px;
  align-items: stretch;
}

@media (min-width: 700px) {
  .open-menu-button {
    display: none;
  }

  #header {
    max-height: 80px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .sidebar {
    left: 0;
  }
  #details {
    margin-left: 250px;
    justify-content: flex-start;
    width: calc(100% - 250px);
  }
} /* end media 700 */
